Makefile
autom4te*
config.log
config.status
config.h
configure
Makefile
*.d
*.kd
*.ud
*.ko
*.uo
*.u.o
kelements.conf
kelements.mk
kpackage.cc
Kbuild
.*.ko.cmd
.*.o.cmd
.tmp_versions
kversion.c
openbox.mod.c
uelements.conf
uelements.mk
upackage.cc
elementmap-openbox.xml
openbox-uelem.conf
openbox-uelem.mk
openbox-umain.cc
openbox-umain.u.o
